@require "../container/home.styl"

input
    width 230px
    height 20px
    padding 10px 5px
    font bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma'
    border 0
    background #eee
    -moz-border-radius 3px 0 0 3px
    -webkit-border-radius 3px 0 0 3px
    border-radius 3px 0 0 3px
    +for_breakpoint(upmd)
        width 650px
        height 20px
    &:focus
        outline 0
        background #fff
    &::-webkit-input-placeholder
        color #999
        font-weight normal
        font-style italic
    &:-moz-placeholder
        color #999
        font-weight normal
        font-style italic
    &:-ms-input-placeholder
        color #999
        font-weight normal
        font-style italic
button
    overflow visible
    position relative
    border 0
    padding 0
    cursor pointer
    height 40px
    width 110px
    font bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma'
    color #fff
    text-transform uppercase
    background #d83c3c
    -moz-border-radius 0 3px 3px 0
    -webkit-border-radius 0 3px 3px 0
    border-radius 0 3px 3px 0
    +for_breakpoint(xs)
        width 80px
        padding-left 10px
        margin-top 20px
    &:hover
        background #e54040
        &:before
            border-right-color #e54040
    &:before
        content ''
        position absolute
        border-width 8px 8px 8px 0
        border-style solid solid solid none
        border-color transparent #d83c3c transparent
        top 12px
        left -6px
    &:focus
        &:before
            border-right-color #c42f2f
    &::-moz-focus-inner
        border 0
        padding 0
