@require "../container/home.styl"
.wrapper
	width: 500px;
	margin: 0 auto;
	+for_breakpoint(upmd)
		width: 800px;
.active
	padding: 20px;
	margin-bottom: 40px;
	background-color: #fff;
	display: grid;
	text-align: center;
